@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'Inter'; 
  src: url('/fonts/Inter/static/Inter_18pt-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair'; 
  src: url('/fonts/Playfair/static/Playfair_9pt-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {

  /* Cores */
  --cor-azul-escuro: #000616;
  --color-principal-darkblue: #000e33;
  --cor-laranja-padrao: #ff8b0f;
  --cor-laranja-escuro: #824300;
  --cor-laranja-claro: #ffb96f;
  --cor-roxo-padrao: #5e00ac;
  --cor-roxo-escuro: #3a0069;

  --cor-font-padrao: rgba(255, 255, 255, 0.959);
  --cor-font-escuro: rgb(27, 27, 27);

  /* Backgrounds */
  --background-azul: linear-gradient(to right, var(--color-principal-darkblue), var(--color-styles-lightblue), var(--color-principal-darkblue));
  --background-laranja: linear-gradient(145deg, var(--cor-roxo-padrao), var(--cor-laranja-claro));

  /* Raios de Borda */
    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 0.75rem;
    --border-radius-botao: 50px;
    --border-radius-circle: 50%;

  /* Fontes */
    --font-size-base: 16px;
    --font-size-h1: clamp(2rem, 8vw, 3.5rem);
    --font-size-h5: clamp(0.9rem, 5vw, 1.5rem);
    --font-size-sub: clamp(1.0rem, 4vw, 1.3rem);
    --font-size-p: clamp(0.9rem, 3vw, 1.1rem);
    --font-size-menu-icon: 1.8rem;
    --font-size-menu-text: 1.2rem;


  /* Espaçamentos */
    --spacing-xs: 0.5rem;
    /* Extra Small - Celulares antigos */
    --spacing-sm: 1rem;
    /* Small - Smartphones */
    --spacing-md: 1.5rem;
    /* Medium */
    --spacing-lg: 2.5rem;
    /* Large - Telas maiores */
    --spacing-xl: 4rem;
    /* Extra Large - Telas muito grandes */

    --spacing-botao: 0.7rem 2rem;
    --spacing-botao-comborda: 0.6rem 2rem;


    /* Transições */
    --transition-all: all 0.2s ease-in-out;



  font-family: 'Inter', sans-serif;




  /* Tema */
  color-scheme: light;
  color: var(--cor-font-padrao);


  /* Background de quadradinhos */
  /* background-color: #000616;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255,0.05) 1px, transparent 1px); */


}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}



/* Fonts */
/* p {font-size: var(--font-size-p);}
h1 {font-size: var(--font-size-h1);}
h5 {font-size: var(--font-size-h5);}
.subText {font-size: var(--font-size-sub);} */