:root {

  /* Cores */
  --cor-azul-escuro: #000616;
  --color-principal-darkblue: #000e33;

  /* Backgrounds */
  --background-azul: linear-gradient(to right, var(--color-principal-darkblue), var(--color-styles-lightblue), var(--color-principal-darkblue));

  /* Raios de Borda */
    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 0.75rem;
    --border-radius-botao: 50px;
    --border-radius-circle: 50%;

  /* Fontes */
    --font-size-base: 16px;
    --font-size-h1: clamp(2rem, 8vw, 3.5rem);
    --font-size-h5: clamp(0.9rem, 5vw, 1.5rem);
    --font-size-sub: clamp(1.0rem, 4vw, 1.3rem);
    --font-size-p: clamp(0.9rem, 3vw, 1.1rem);
    --font-size-menu-icon: 1.8rem;
    --font-size-menu-text: 1.2rem;



  

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;




  /* Tema */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background-color: #000616;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255,0.05) 1px, transparent 1px);





  /* Configurações de Texto */
  font-synthesis: none;                 /* - impede que a fonte craquele tentando se adaptar */
  text-rendering: optimizeLegibility;   /* - prioriza a legibilidade e não velocidade */

  /* - Limpam a borda das letras ( impede que pareça pixelada ) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 320px;
  min-height: 100vh;
}



/* Fonts */
p {font-size: var(--font-size-p);}
h1 {font-size: var(--font-size-h1);}
h5 {font-size: var(--font-size-h5);}
.subText {font-size: var(--font-size-sub);}